<%= form_with(model: listing, html:{class: "space-y-3 md:space-y-5"}) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div>
    <%= form.text_field :title, placeholder: "Title", class: "field h-8 md:h-12 md:text-xl" %>
  </div>

  <div>
    <%= form.text_area :description, placeholder: "Description", class: "field h-32 md:h-52" %>
  </div>

  <div>
    <%= form.number_field :price, placeholder: "Price", class: "field h-8 md:text-xl md:h-12" %>
  </div>

  <div>
    <%= form.label :photo, class: "text-lg md:text-xl" %>
    <%= form.file_field :photo %>
  </div>

  <div class="flex justify-center">
    <%= form.submit class: "w-1/3 h-10 rounded-lg bg-yellow-500 text-base text-white"%>
  </div>
<% end %>
