<div class="min-h-screen w-full flex items-center sm:h-screen">
  <article class="w-11/12 flex flex-col mx-auto rounded-md shadow-uniform sm:h-95 md:flex-row">
    <header class="h-80 rounded-md md:w-8/12 md:h-full md:rounded-l-md md:rounded-t-none">
      <div class="h-full bg-blue-200 flex justify-center rounded-t-md md:rounded-l-md md:rounded-t-none">
        <% if @listing.photo.attached? %>
          <%= image_tag @listing.photo, class: "h-full object-contain" %>
        <% end %>
      </div>
    </header>
    <main class="flex-1 flex flex-col pb-2">
      <h1 class="text-xl text-center lg:text-4xl"><%= @listing.title %></h1>
      <p class="text-base h-20 pl-2 sm:flex-1 lg:text-xl">
        <%= @listing.description %>
      </p>
      <div class="text-lg text-center lg:text-2xl">AU$<%= @listing.price.to_f/100 %></div>
      <button id="checkout" class="h-12 w-11/12 text-lg rounded-full bg-yellow-500 text-white self-center sm:w-1/2 lg:h-20 lg:text-3xl md:w-8/12">Buy</button>
      <div class="space-y-2 mt-2 divide-y sm:max-h-96 sm:overflow-y-scroll">
        <h1 class="text-lg text-center">Reviews</h1>
        <% @listing.user.reviews.all.each do |review| %>
          <section class="mx-2">
            <h1 class="text-base md:text-lg"><%= review.reviewer.username %></h1>
            <h2 class="text-base text-center md:text-lg">Rating: <%= review.rating %></h2>
            <p class="text-md md:text-base"><%= review.content %></p>
          </section>
        <% end %>
      </div>
    </main>
  </article>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  document.getElementById("checkout").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig :stripe, :public_key %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>