<!DOCTYPE html>
<html>
  <head>
    <title>MarketplaceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <article class="layout">
    <header>
      <nav>
        <h1 class="text-lg">PCP2P</h1>
        <ul>
          <%= link_to "Home", :root %>
          <%= link_to "Listings", :listings %>
          <% if user_signed_in? %>
            <%= link_to "My Listings", :user_listings %>
            <%= link_to "Log out", :destroy_user_session, method: :delete %>
          <% else %>
            <%= link_to "Log in", :new_user_session %>
            <%= link_to "Sign up", :new_user_registration %>
          <% end %>
          <%= link_to 'New Listing', :new_listing %>
        </ul>
        <%= form_tag search_path, method: :get do %>
          <%= label_tag :search %>
          <%= text_field_tag :search, params[:search] %>
          <%= select_tag :category, options_from_collection_for_select(Category.all, 'id', 'name'), include_blank: true %>
          <%= submit_tag :search %>
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>  
  </article>
  </body>
</html>
